<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.218717255604-lncshc55j3qko90c3v798h15g2oocuv4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>218717255604-lncshc55j3qko90c3v798h15g2oocuv4.apps.googleusercontent.com</string>
</dict>
</plist>
